*{
    /*browser itself adds margin and padding to elements so wwe should manually reset it.*/
    margin:0;
    padding:0;
    font-family: Roboto;
}



.bio h4{
    margin-top: 30px;
    font-size: 15px;
}

.bio-lists{
    margin:20px 0 0 18px;
    line-height: 30px;
}


.container{
    background-color:rgb(189, 252, 232);
    min-height:100vh;/*if you mention just height its fixed by using min height you set min height if content overflows height can be adjusted*/
    border:solid 10px #1D1E4C;
    padding: 20px;
}

.content{
    max-width: 900px;
    margin:0 auto;
}

.footer{
    text-align: right;
    margin:30px 0 30px 0;;
}
.footer a{
    text-decoration: none;

}



.image img{
    border:solid 5px black;
    border-radius: 50%;
}

.image,img{
    height:200px;
    width:150px;
}

.info h1{
    margin-top: 70px;
    font-size: 40px;   
}

.info p{
    margin-top: 40px;
    font-size: 15px;
    text-align: justify;
}


.name-year h1{
    font-size: 20px;
}

.name-year h4{
    font-size: 15px;
    text-align: end;
}

.others{
    margin:30px auto;
}

.others a{
    text-decoration: none;
}
.top-container{
    display:flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-between;
    align-items: flex-end;/*flex applied to top container to flex end will allign all items from bottom*/
}
@media(max-width:410px){
    .top-container{
        justify-content: center;
        gap:30px;
        text-align: center;
    }
    .name-year h4{
        text-align: center;
    }
    h1{
        text-align: center;
    }
}