*{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

.img1,.seven{
    background-image: url(images/image1.jpg);
    height: 100vh;
    position: relative;
    background-size:    cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
}

.s1txt{
    font-size: 30px;
    letter-spacing: 10px;
    padding: 10px 20px;
    border: solid 3px black;
    margin: auto;
    background-color: rgba(246, 246, 246, 0.285);
    box-shadow: 2px 2px 2px black;

}

.two,.four,.six{
    min-height:400px;
    background-color:rgb(228, 224, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.two_h,.four_h,.six_h{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 7px;
    padding: 20px;
}

.two_p,.four_p,.six_p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    width: 80vw;
    text-align: justify;

}

.three,.five{
    min-height:400px;
    background-image: url(images/image2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

.three_h,.five_h{
    font-size: 45px;
    color:white;
    text-transform: uppercase;
    letter-spacing: 8px;
    border: solid 2px white;
    padding: 20px 25px;
    background-color: #0101013e;

}

.five{
    background-image: url(images/image3.png);
}

.seven{
    background-image: url(images/image4.jpg);
    height: 50vh;
}

.img1,.three,.five{
    background-attachment: fixed;
}



@media(max-width:789px){
    .two_h,.three_h,.four_h,.five_h,.six_h,.seven_h{
        font-size: 12px;
    }
    .two_p,.four_p,.six_p{
        font-size: 15px;
    }
}